.header {
    height: 100vh;
    background-color: $colour-body;
}

.header-content-container {
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 0 30px;
}

.header-text-button-container {
    width: 57%;
}

.game-header {
    position: relative;
    top: -500px;
}

.header-image {
    position: fixed;
    z-index: 5;
    top: 0;
    right: 15.3%;
    display: block;
    height: 100vh;
}

.start-game-button {
    font-size: 3rem;
    width: 80%;
    margin-top: 12px;
    position: relative;
    bottom: -500px;
}

.game-header-small-container {
    position: fixed;
    top: 0;
    left: 15.3;
}

.game-header-small {
    margin: 15px 0 0 0;
    background-color: $colour-body;
    line-height: 26px;
}

.hide {
    display: none;
}

.video-header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    overflow:hidden;
}
// ==Header Animation STARTS==
// ====Header Image====
@keyframes arnie-image {
    0% {
        transform: translateX(1000%);
    }
    100% {
        transform: translateX(0);
    }
}

.header-image {
    animation: arnie-image 0.7s linear;
}
// ====Header Text====
@keyframes header-text {
    0% {
        top: -500px;
    }
    100% {
        top: 0;
    }
}

.game-header {
    animation:  header-text 0.2s linear;
    animation-delay: .7s;
    animation-fill-mode: forwards;
}
// ====Header Button====
@keyframes header-button-move {
    0% {
        bottom: -500px;
    }
    100% {
        bottom: 0;
    }
}

@keyframes header-button-pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.start-game-button {
    animation:  header-button-move 0.2s linear, header-button-pulse 1s infinite;
    animation-delay: 1.7s;
    animation-fill-mode: forwards;
}
// ==Header Animation ENDS==