article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #282828; }

.main {
  background-color: #888bac; }

.wrapper-prim {
  max-width: 1440px;
  margin: 0 auto; }

.wrapper-sec {
  max-width: 1000px;
  margin: 0 auto; }

.button-sound,
.button-prim {
  border-radius: 5px;
  text-decoration: none;
  color: #ffeee5;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-family: Volkhov, serif;
  font-weight: 700; }

.button-prim {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffa06f), to(#ff5600));
  background: -webkit-linear-gradient(top, #ffa06f, #ff5600);
  background: -o-linear-gradient(top, #ffa06f, #ff5600);
  background: linear-gradient(to bottom, #ffa06f, #ff5600);
  padding: 15px 35px;
  font-size: 2rem; }

.button-sound {
  background: -webkit-gradient(linear, left top, left bottom, from(#636363), to(#282828));
  background: -webkit-linear-gradient(top, #636363, #282828);
  background: -o-linear-gradient(top, #636363, #282828);
  background: linear-gradient(to bottom, #636363, #282828);
  padding: 10px 25px;
  font-size: 1.5rem; }

@font-face {
  font-family: 'Terminator Real NFI';
  src: url("../assets/fonts/terminator real nfi.otf");
  src: url("../assets/fonts/terminator real nfi.ttf"); }

h1 {
  margin: 0;
  font-family: 'Terminator Real NFI', 'Merriweather', serif;
  font-size: 9rem; }

h2 {
  font-family: 'Terminator Real NFI', 'Merriweather', serif;
  text-transform: uppercase;
  font-size: 3rem;
  display: inline-block; }

.question-text,
.results-text {
  font-size: 2.8rem;
  font-weight: 700; }

.question-form label {
  font-size: 2.2rem; }

.header {
  height: 100vh;
  background-color: #888bac; }

.header-content-container {
  height: 100vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding: 0 30px; }

.header-text-button-container {
  width: 57%; }

.header-image {
  position: fixed;
  z-index: 5;
  top: 0;
  right: 15.3%;
  display: block;
  height: 100vh; }

.start-game-button {
  font-size: 3rem;
  margin-top: 12px; }

.game-header-small-container {
  position: fixed;
  top: 0;
  left: 220px; }

.game-header-small {
  margin: 15px 0 0 0;
  background-color: #888bac;
  line-height: 26px; }

.hide {
  display: none; }

.video-header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10; }

.question-container {
  height: 100vh;
  margin-top: 700px;
  padding: 150px 30px 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.question-container:first-child {
  margin-top: 0; }

.question-form {
  width: 55%;
  margin-bottom: 10px; }

.question-text {
  margin-bottom: 20px;
  line-height: 30px; }

.question-form label {
  margin-left: 10px;
  line-height: 25px; }

.answer-container {
  margin-bottom: 10px; }

.submit-button {
  margin-top: 35px; }

.button-sound {
  background-color: #282828;
  margin: -10px 0 10px 0; }

.results-section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-top: 700px;
  padding: 250px 30px 0 30px; }

.results-section-content {
  width: 55%; }

.results-text {
  font-style: italic; }

.play-again-buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.button-play-again,
.button-give-up,
.button-poker {
  margin-right: 10px; }

@media (max-width: 1350px) {
  .header-image {
    right: 12.3%; } }

@media (max-width: 1150px) {
  .header-image {
    right: 6.3%; } }

@media (max-width: 1050px) {
  .header-image {
    right: 30px; }
  .header-text-button-container {
    width: 65%; } }

@media (max-width: 960px) {
  .header-image {
    display: none; }
  .header-text-button-container {
    width: 100%; }
  .question-container,
  .header-content-container,
  .results-section,
  .results-section-content {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .question-form {
    width: 100%; }
  .results-section-content {
    width: 100%;
    text-align: center; }
  .play-again-buttons-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

@media (max-width: 640px) {
  .game-header {
    font-size: 6.5rem; }
  .question-container,
  .results-container {
    padding-left: 15px;
    padding-right: 15px; }
  .question-text,
  .results-text {
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 25px; }
  .question-form label {
    font-size: 1.8rem; }
  .answer-container {
    margin-bottom: 7px; }
  .button-prim {
    padding: 10px 27px;
    font-size: 1.7rem; }
  .submit-button {
    margin-top: 25px; }
  .button-sound {
    padding: 7px 20px;
    font-size: 1.2rem; } }

@media (max-width: 480px) {
  .game-header {
    font-size: 4rem; }
  .question-text,
  .results-text {
    font-size: 2rem;
    font-weight: 700;
    line-height: 22px; }
  .button-prim {
    padding: 10px 27px;
    font-size: 1.7rem; }
  .button-sound {
    padding: 7px 20px;
    font-size: 1.2rem; } }

/*# sourceMappingURL=styles.css.map */